

<div class="simple-card">
    <h1>Home sweet home</h1>
    <p>

        <%= homeContent %>
    </p>
</div>
    

<div class="post-list">
<% postList.forEach((post)=> { %>
    <article class="post-card">
        <img class="post-image" src="<%= post.image %>">
        <a href="/posts/<%= post._id %>">
            <h2 class="title-card">
                <%= post.postTitle %>
            </h2>
        </a>
        <div class="postBody">
            <%- post.postBody.substr(0, 150) _%>
                <% if (post.postBody.length> 150){%>... </div>
                    <a class="read-more" href="/posts/<%= post._id %>">Read More</a>
                    <% } %>
        
    </article>
    <%}) %>
    </div>

    <script src="postBody.js"></script>